
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    margin-top: 50px;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: #8f94fb;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
  }
  
  /* container-tml around content */
  .container-tml {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
  }
  
  /* The circles on the timeline */
  .container-tml::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #8f94fb;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container-tml to the left */
  .left {
    left: 0;
  }
  
  /* Place the container-tml to the right */
  .right {
    left: 50%;
  }
  
  /* Add arrows to the left container-tml (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid #8f94fb;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #8f94fb;
  }
  
  /* Add arrows to the right container-tml (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid #8f94fb;
    border-width: 10px 10px 10px 0;
    border-color: transparent #8f94fb transparent #8f94fb;
  }
  
  /* Fix the circle for container-tmls on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
    box-shadow: 2px 2px 2px 2px  rgba(0, 0, 0, 0.1);
  }

  .content .title-content{
    font-size: 16px;
    font-weight: 600;
    color: #2A4968;
    background-color: #EBF2F9;
    border-radius: 10px;
    padding: 3px 24px 3px 15px;
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .content .title-content:after{
    font-family: "hostify" !important;
    position: absolute;
    content: "\6b";
    font-size: 10px;
    top: 50%;
    margin-top: -7px;
    right: 10px;
    color: #B1C6DB;
    text-transform: none;
    font-weight: 600;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }

  @media screen and (max-width: 1200px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width container-tmls */
    .container-tml {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container-tml::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right container-tmls behave like the left ones */
    .right {
        left: 0%;
    }
  }