
:root {
  --mang-dodglerblue : #4e54c8;
  --mang-light :#8f94fb
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

@font-face {
  font-family: Roboto;
  src: url('../assets/font/Roboto-Light.ttf');
}

@font-face {
  font-family: Montserrat;
  src: url('../assets/font/Montserrat-VariableFont_wght.ttf');
}

.text-color-dodgerblue{
  color: var(--mang-dodglerblue);
}

a{
  text-decoration: none;
}

p{
  margin-left: unset;
}

.bg-mang-light{
  background-color: var(--mang-light);
}

 .hp-pop{
  font-size: 14px;
  color: rgb(212, 212, 212);
 }
 
 .hop-pop:hover{
   color: #4e54c8;
   font-weight: bold;
   cursor: pointer;
 }

.bg-mang-dodgerblue{
  background: #4e54c8;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #8f94fb, #4e54c8);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #8f94fb, #4e54c8); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
  font-family: Montserrat;
  scroll-behavior: smooth;
}

.big-title{
  font-size: 48px;
  font-weight: 600;
  color: white;
}

.header-main{
  position: relative;
  height: 60vh;
  width: 100%;
}

.if-content{
  position: relative;
}

.if-content iframe{
  border-radius: 5px;
  width: 100%;
  height: 250px;
}

.header-main.waveWrapper {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  overflow: hidden;
}

 .waveWrapperInner {
  position: absolute;
  width: 100%;
  height: calc(100% - 3vh);
  top: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #8f94fb, #4e54c8);
}
.waveWrapperInner.top {
  opacity: 0.5;
  z-index: 15;
}
.waveWrapperInner.mid {
  opacity: 0.75;
  z-index: 10;
}
.waveWrapperInner.bottom {
  z-index: 5;
}
 .wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}

 .waveTop {
  background-size: 50% 100px;
  background-image: url('../assets/images/wave-top.png');
}

.waveTop {
  background-size: 50% 100px;
  animation: wave 3s;
  animation-delay: 1s;
}

@keyframes wave {
  0% {
      transform: translateX(0) translateZ(0) scaleY(1);
  }
  50% {
      transform: translateX(-25%) translateZ(0) scaleY(0.50);
  }
  100% {
      transform: translateX(-50%) translateZ(0) scaleY(1);
  }
}

 .waveMid {
  background-size: 50% 120px;
  animation: wave 10s linear infinite;
  background-image: url('../assets/images/wave-mid.png');
}

 .waveBottom {
  background-size: 50% 100px;
  animation: wave 15s linear infinite;
  background-image: url('../assets/images/wave-bot.png');
}

input.form-control:active{
  box-shadow: none;
  border: none;
}

input.form-control:focus{
  box-shadow: none;
}


.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.3rem;
  font-weight: 500;
  line-height: 1.2;
  color: var(--bs-heading-color);
}

section#section-pages{
  min-height: 100vh;
  width: 100%;
}

.info-text{
  text-align: center;
  margin-top: 20px;
  font-size: 22px;
  padding: 10px;
  font-weight: 300;
  color: #3f3d59;
  padding-left: 15%;
  padding-right: 15%;
}

.our-title{
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  color: #4d4b66;
}
.our-sub-title{
  position: relative;
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  color: #4d4b66;
  height: 50px;
}
.our-sub-title::after{
  position: absolute;
  margin-bottom: 15px;
  content: "";
  width: 160px;
  height: 3px;
  background-color: #D9E3F2;
  left: 50%;
  margin-left: -78px;
  bottom: -15px;
}

.stepper-wrapper {
  font-family: Arial;
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 2;

  @media (max-width: 768px) {
    font-size: 12px;
  }
}

.stepper-item::before {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: -50%;
  z-index: 2;
}

.stepper-item::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #ccc;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 2;
}

.stepper-item .step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #ccc;
  margin-bottom: 6px;
}

.stepper-item.active {
  font-weight: bold;
}

.stepper-item.completed .step-counter {
  background-color: #4bb543;
  color: white;
  font-weight: 600;
}

.stepper-item.completed::after {
  position: absolute;
  content: "";
  border-bottom: 2px solid #4bb543;
  width: 100%;
  top: 20px;
  left: 50%;
  z-index: 3;
  transition: 0.5s ease-in-out;
}

.stepper-item:first-child::before {
  width: 0%;
  transition: 0.5s ease-in-out;
  content: none;
}
.stepper-item:last-child::after {
  content: none;
}

.btn-outline-mang{
  background-color: white;
  border: 2px solid #8f94fb;
}
.btn-outline-mang:hover{
  background-color: #8f94fb;
  color: white;
}

.bg-mang-light:hover{
  background-color: #4e54c8;
}

.splide__arrow svg {
    fill: #536261;
    height: 2.5em;
    transition: fill .2s linear;
    width: 2.5em;
}

.text-other-color1 {
  font-size: 20px;
  font-weight: 300;
  color: #8493b4;
}

#footer {
  background-color: #0d1e30;
  padding-top: 90px;
  color: white;
  padding-bottom: 70px;
}
hr{
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px;
  border-top: 3px solid #eee;
}

ul.ul li{
  text-align: left;
  list-style: none;
  padding-bottom: 12px;
  font-size: 14px;
}
.layout-topbar .layout-topbar-button{
  color: white;
}
